.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 50px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-bottom: 300px;
}

.logoImg {
  width: 550px;
  height: 350px;
  margin-right: 100px;
  margin-bottom: 300px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

footer a {
  color: #66B2FF;
  text-decoration: none;
}

.btnWrapper {
  margin-top: 10px;
}

.mainLabel {
  font-size: 34px;
}

.subLabel {
  font-size: 18px;
  color: #ffffffac;
  margin-top: -10px;
}

.startBtn {
  background: #2984df;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-weight: 500;
}

.startBtn:hover {
  background: #3572b0;
  color: #ffffff8a;
}

/* NavBar */
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #262222;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navItem a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding-right: 30px;
}

.navItem a:hover {
  color: #66B2FF;
}